

        <nz-table #editRowTable nzBordered [nzData]="listOfData">

          <tr>
                  <th class="text-center">Type</th>
                  <th class="text-center">Ordre</th>
                  <th class="text-center">Designation</th>
                  <th></th>

          </tr>
          <tr *ngFor="let rubrique of editRowTable.data; let Id = index;" class="rows">
                  <td>
                    <ng-container *ngIf="!editCache[Id].edit; else nameInputTpl">
                      {{ rubrique.type }}
                    </ng-container>
                    <ng-template #nameInputTpl>
                      <input type="text" nz-input [(ngModel)]="editCache[Id].rubrique.type" />
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!editCache[Id].edit; else ageInputTpl">
                      {{ rubrique.ordre }}
                    </ng-container>
                    <ng-template #ageInputTpl>
                      <input type="number" nz-input [(ngModel)]="editCache[Id].rubrique.ordre" />
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!editCache[Id].edit; else addressInputTpl">
                      {{ rubrique.designation }}
                    </ng-container>
                    <ng-template #addressInputTpl>
                      <input type="text" nz-input [(ngModel)]="editCache[Id].rubrique.designation" />
                    </ng-template>
                  </td>
                  <td>
                    <div class="editable-row-operations">
                      <ng-container *ngIf="!editCache[Id].edit; else saveTpl">
                        <a (click)="startEdit(Id)">Edit</a>
                      </ng-container>
                      <ng-template #saveTpl>
                        <a (click)="saveEdit(Id)">Save</a>
                        <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(Id)">Cancel</a>
                      </ng-template>
                    </div>
                  </td>
        </tr>
    </nz-table>
