
<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="14%" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">

        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item>
                <a routerLink="/" routerLinkActive="active">
                    <i nz-icon nzType="home" nzTheme="outline"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li nz-menu-item nzOpen nzTitle="Evaluations">
                <a routerLink="/evaluation" routerLinkActive="active">
                    <i nz-icon nzType="form" nzTheme="outline"></i>
                    <span>Evaluations</span>
                </a>
            </li>
            <li nz-menu-item nzTitle="Questions">
                <a routerLink="/question" routerLinkActive="active">
                    <i nz-icon nzType="question-circle" nzTheme="outline"></i>
                    <span>Questions</span>
                </a>
            </li>
            <li nz-menu-item nzTitle="Rubriques">
                <a routerLink="/rubrique" routerLinkActive="active">
                    <i nz-icon nzType="pic-center" nzTheme="outline"></i>
                    <span>Rubriques</span>
                </a>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span style="font-size: x-large;">{{title}}</span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
