
<button mat-button id="create" (click)="showCreateModal()">
    <mat-icon aria-hidden="false" aria-label="createicon">add_circle_outline</mat-icon>
    <b class="CreerEval"> Créer Evaluation</b>
</button>
        <nz-table #editRowTable  [nzData]="listOfData">

          <tr>
                  <th class="text-center">Type</th>
                  <th class="text-center">Ordre</th>
                  <th class="text-center">Designation</th>
                  <th class="text-center">Action</th>


          </tr>

          <tr *ngFor="let rubrique of editRowTable.data ; let Id = index;" class="rows">
                  <td>
                    <ng-container>
                      {{ rubrique.type }}
                    </ng-container>

                  </td>
                  <td>
                    <ng-container *ngIf="!editCache[Id].edit; else ageInputTpl">
                      {{ rubrique.ordre }}
                    </ng-container>
                    <ng-template #ageInputTpl>
                      <input type="number" nz-input [(ngModel)]="editCache[Id].data.ordre" />
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!editCache[Id].edit; else addressInputTpl">
                      {{ rubrique.designation }}
                    </ng-container>
                    <ng-template #addressInputTpl>
                      <input type="text" nz-input [(ngModel)]="editCache[Id].data.designation" />
                    </ng-template>
                  </td>
                  <td>
                    <div class="editable-row-operations">
                      <ng-container *ngIf="!editCache[Id].edit; else saveTpl">
                        <button mat-button type="button" name="button" (click)="editIsAuthorized(Id)">
                          <mat-icon aria-hidden="false" aria-label="createicon">create</mat-icon>
                        </button> <b>|</b>
                        <button mat-button (click)="DeleteIsAuthorized(Id)">
                          <mat-icon aria-hidden="false" aria-label="deleteicon">delete</mat-icon>
                        </button>
                      </ng-container>
                      <ng-template #saveTpl>
                        <button mat-button type="button" name="button" (click)="saveEdit(Id)">
                        Enregistrer</button>
                        <a nz-popconfirm nzTitle="Etes-vous sûr d'annuler?" (nzOnConfirm)="cancelEdit(Id)">Annuler</a>
                      </ng-template>
                    </div>
                  </td>
        </tr>
    </nz-table>

<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()">
    <div>
      <div class="form-style-6">
      <form  #f='ngForm'>
        <h2>Création d'une rubrique</h2>
        <div class="form-group">
        <input type="text" name="type" placeholder="RBS" ngModel readonly/>
        <input type="number" name="ordre" placeholder="Ordre" ngModel required/>
        <div *ngIf="form.get('OrdreControl').touched && form.get('DesControl').invalid">
          Ordre est obligatoire.
        </div>
        <input type="text" name="designation" placeholder="Désignation" ngModel required />
        <div *ngIf="form.get('DesControl').touched && !form.get('DesControl').invalid">
          Désignation est obligatoire.
      </div>
        <div *nzModalFooter>
          <button nz-button nzType="default" (click)="destroyModal()">Annuler</button>
          <button nz-button type="submit" value="submit" (click)="onSubmitForm(f)" id="AjoutBtn">Ajouter</button>
        </div>
      </div>

      </form>
    </div>
    </div>
</nz-modal>
