<!--
<div>
  <div class="form-style-6">
  <h1>Creation d'une évaluation</h1>
  <form>
    <input type="text" name="type" placeholder="Type" />
    <input type="number" name="ordre" placeholder="Ordre" />
    <input type="Enseignant" name="enseignant" placeholder="Enseignant" />
    <input type="text" name="designation" placeholder="designation">
  </form>
</div>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Annuler</button>
  <button nz-button nzType="primary" (click)="AjoutEval()">Ajouter</button>
</div>
-->
<div>

  <div class="form-style-6">
  <form >
      Etes-vous sûr de vouloir supprimer?
    </form>
  </div>
</div>
<div *nzModalFooter>
  <button nz-button nzType="defaults" (click)="destroyModal()">Annuler</button>
  <button nz-button nzType="default" (click)="confirmRemove()">Confirmer</button>
</div>
